.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.sales-overview__articles {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.sales-overview__item {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 24px;

    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    flex-grow: 0;
    flex-shrink: 1;
}

.sales-overview__item h3 {
    font-weight: 500;
}

.products-sold {
    border: 2px solid #51bd83;
    color: #51bd83;
    background-color: #e3fff0;
}

.products-original-stock {
    border: 2px solid #51abbd;
    color: #51abbd;
    background-color: #e1f9fc;
}

.products-in-stock {
    border: 2px solid #d16354;
    color: #d16354;
    background-color: #fce0dc;
}

.product {
    background-color: #eff0eb;
    border: 2px solid #9c871f;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;

    display: flex;
    align-items: center;
}

.best-selling-product {
    background-color: #eff0eb;
    border: 2px solid #9c871f;
}

.product__image {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 32px;
}

.product__info h3 {
    font-size: 22px;
}

.product__price {
    font-size: 24px;
}

.product__options-list {
    display: flex;
    gap: 18px;

    list-style: none;
    padding-left: 0;
}

.icon {
    width: 16px;
    margin-right: 8px;
}

